/* FeaturesCard.module.css */

.card {
  background-color: var(--mantine-color-body);
  --card-padding: none;
}

.container {
  display: flex;
}

.imageSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--mantine-spacing-md);
  border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

/* Add the following styles to ensure the image itself is centered */
.imageSection img {
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  max-height: 100%; /* Ensure the image doesn't exceed the container height */
}

.content {
  padding: var(--mantine-spacing-md);
}

.label {
  margin-bottom: var(--mantine-spacing-xs);
  line-height: 1;
  font-weight: 700;
  font-size: var(--mantine-font-size-xs);
  letter-spacing: rem(-0.25px);
  text-transform: uppercase;
}

.section {
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding-right: var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-md);
  padding-top: var(--mantine-spacing-md);
}

.icon {
  margin-right: rem(5px);
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-2));
}



.priceSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--mantine-spacing-md);
  border-left: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.priceSection .buttonContainer {
  margin-top: auto; /* Push the button to the bottom */
}


