/* index.module.css */




/* listing.module.css */

.container {
  display: flex;
  align-items: flex-start; /* Align items to the start (top) of the container */
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f8f8f8; /* Off-white color */
}

.descriptionContainer {
  padding: 50px; /* Add padding as needed */
  background-color: #f8f8f8; /* Off-white color */
  border-bottom: 1px solid #ddd; /* Add a 1px solid line at the bottom */
}

/* .mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
} 

*/

.mainContent {
  display: flex;
  align-items: flex-start; /* Align items to the start (top) of the container */
  gap: 20px; /* Adjust the gap on the left-hand side */
}

.cardList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 600px;
}
  